@font-face {
   font-family: "Poppins";
   src: url("/src/assets/fonts/Poppins-ExtraLight.ttf") format("woff2");
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: "Poppins";
   src: url("/src/assets/fonts/Poppins-Light.ttf") format("woff2");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Poppins";
   src: url("/src/assets/fonts/Poppins-Regular.ttf") format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Poppins";
   src: url("/src/assets/fonts/Poppins-Medium.ttf") format("woff2");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Poppins";
   src: url("/src/assets/fonts/Poppins-SemiBold.ttf") format("woff2");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Poppins";
   src: url("/src/assets/fonts/Poppins-Bold.ttf") format("woff2");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Poppins";
   src: url("/src/assets/fonts/Poppins-ExtraBold.ttf") format("woff2");
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: "Poppins";
   src: url("/src/assets/fonts/Poppins-Black.ttf") format("woff2");
   font-weight: 900;
   font-style: normal;
}

body {
   font-family: "Poppins", sans-serif;
}
